.button {
  width: 100%;
  min-width: 288px;
  max-width: 355px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter";
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  padding: 16px 0 15px;
  display: inline-block;
  background: #0278fe;
}
