.footer__title {
  color: #ffffff;
  font-family: "InterBold";
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 72px;
    line-height: 76px;
  }
}
