.footer__text-image {
  height: 254px;
  margin: 64px auto 64px;
  max-width: 1184px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer__text-image {
    height: 746px;
  }
}

.footer__text-image:hover .footer__text-image-background {
  opacity: 0.25;
}
