.header__subtitle {
  color: #ffffff;
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  padding: 0 16px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .header__subtitle {
    font-size: 30px;
    margin: 0 24px 69px;
  }
}

@media screen and (min-width: 1280px) {
  .header__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 280px 64px;
  }
}
