.footer__text-image__background {
  height: 100%;
  background-image: url(../../../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 350ms ease;
}
